.leaderboard-item {
  margin: 1rem 0;
  padding: 0 1rem;
}

.leaderboard-item .tile {
  justify-content: center;
}

.leaderboard-item.featured {
  margin-bottom: 1rem;
  padding: 1rem;
}

.leaderboard-item .leaderboard-item-position {
  color: #dedede;
  font-size: 1.5rem;
  font-weight: 600;
}

.leaderboard-item.leaderboard-item-1 .leaderboard-item-position {
  color: #ffe082;
  font-size: 3rem;
}

.leaderboard-item.leaderboard-item-2 .leaderboard-item-position {
  color: #c5cae9;
  font-size: 2.5rem;
}

.leaderboard-item.leaderboard-item-3 .leaderboard-item-position {
  color: #ceb1a1;
  font-size: 2rem;
}

.leaderboard-item .leaderboard-item-cell {
  font-size: 1.5rem;
  font-weight: bold;
  float: left;
  margin: 0 10px;
  min-width: 100px;
  text-align: center;
  padding: 0.1rem 1rem;
}

.leaderboard-item .leaderboard-item-cell-label {
  font-size: 1rem;
  font-weight: normal;
}

.leaderboard-item .leaderboard-item-cell .leaderboard-item-goal-scored, .leaderboard-item .leaderboard-item-cell .leaderboard-item-goal-missed {
  font-size: 0.6rem;
}