.team-score {
  font-size: 2em;
}

.team-score .tag {
    cursor: default;
    height: 100%;

    display:flex;
    align-items: center;
    justify-content: center;
}

.team-score .tag.active.editable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}