@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding-right: 0 !important; }

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(-100%, 0, 0); } }
